body {
  background-color: #EFEFEF;
}

h1 {
  color: #4A403A;
}

h2 {
  color: #FFC069;
}

h3 {
  color: #FFC069;
}

hr {
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-color: #A45D5D;
  width: 40%;
  border-width: 7px;
}
